{%extends 'admins/admin_base.html'%}
{%load static%}
{%block contents%}
 <!--Hero_Section-->
<section id="hero_section" class="top_cont_outer">
    <div class="hero_wrapper">
        <div class="container">
            <div class="hero_section">
                <div class="row">
                    <div class="col-lg-5 col-sm-7">
                        <div class="top_left_cont zoomIn wow animated">

                            <h2>Kernel Lasso Regression Algorithm for <strong>Predicting Electricity Loads</strong></h2>
                            <p>Forecasting electricity demand is a crucial safeguard for the efficient and safe operation of power systems.
                                In general, the forecasting performance of conventional linear regression techniques is subpar for power demand data with greater dimensions.
                                The linear technique may handle non-linear data by using kernel functions to translate the data to a high-dimensional space.
                                In order to tackle the regression analysis problem for non-time series data, kernel function is added to the lasso linear regression approach and is applied to non-linear situations.
                                The prediction effect of kernel lasso regression is superior to lasso regression in terms of minimal mean square error and minimum average across 851 consecutive days utilizing the 96-point electrical load data of consumers in Shanghai.
                                </p>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-5">
                        <img src="{%static 'img/main_device_image.png'%}" class="zoomIn wow animated" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Hero_Section-->

<section id="aboutUs"><!--Aboutus-->
    <div class="inner_wrapper">
        <div class="container">
            <h2>About Us</h2>
            <div class="inner_section">
                <div class="row">
                    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right"><img
                            src="{%static 'img/about-img.jpg'%}" class="img-circle delay-03s animated wow zoomIn"
                            alt=""></div>
                    <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
                        <div class=" delay-01s animated fadeInDown wow animated">
                            <h3>Kernel Lasso Regression Algorithm for <strong>Predicting Electricity Loads</h3><br/>
                                <p>Electricity load forecasting that is accurate and trustworthy can offer dependable decision-making support for the planning and operation of the electricity system as well as a guarantee for the efficient and safe functioning of the system. It's been a popular area of study both domestically and internationally how to increase predicting accuracy. Lasso is a commonly used variable selection tool that was first developed by Tibshirani in 1996. In order to increase the efficiency of the lasso approach, methods like Iteratively Reweighted Least Squares (IRLS), ε-boosting, Least Angle Regression (Lars), and piecewise linear have been proposed. However, in the case of electricity-loads, the lasso's predictions are less accurate. Combining Kernal function, which can deal with non-linearity, with Lasso Regression can signifacntly improve prediction of electricity-loads.</p>
                        </div>
                        <div class="work_bottom"><span>Want to know more..</span> <a href="mailto: mashettyvishwaja2102@gmail.com" target="_blank" class="contact_btn">Contact Us</a>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>
{%endblock%}
