{%extends 'base.html'%}
{%load static%}
{%block contents%}
 <!--Hero_Section-->
<section id="hero_section" class="top_cont_outer">
    <div class="hero_wrapper">
        <div class="container">
            <div class="hero_section">
                <div class="row">
                    <div class="col-lg-5 col-sm-7">
                        <div class="top_left_cont zoomIn wow animated">
                            <h2 class="row justify-content-center text-dark">
                                <i class="fa fa-sign-in-alt"style="color: white; pointer-events: none;">&nbsp;Admin Log In</i>
                            </h2>
                            <form action="{%url 'AdminLoginCheck'%}" method="post" novalidate>
                            {%csrf_token%}

                        <div style="color: white" id="div_id_username" class="form-group"><label for="id_username" class=" requiredField">
                            Username<span class="asteriskField">*</span> </label>
                            <div><input type="text" name="loginid" required autofocus autocapitalize="none"
                                        autocomplete="username" maxlength="150" class="textinput textInput form-control"
                                        required id="id_username"></div>
                        </div>
                        <div style="color: white" id="div_id_password" class="form-group"><label for="id_password" class=" requiredField">
                            Password<span class="asteriskField">*</span> </label>
                            <div><input type="password" name="pswd" required autocomplete="current-password"
                                        class="textinput textInput form-control" required id="id_password"></div>
                        </div>

                        <button style="color: red" type="submit" class="btn btn-dark mb-2">Login</button>

                    </form>
                    {% if messages %}
                    {% for message in messages %}
                    <font color='white'> {{ message }}</font>
                    {% endfor %}
                    {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-5">
                        <img src="{%static 'img/main_device_image.png'%}" class="zoomIn wow animated" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Hero_Section-->

{%endblock%}