{%extends 'users/user_base.html'%}
{%load static%}
{%block contents%}

<link rel="stylesheet" href="{% static 'css/info-card.css' %}">
<style>
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: black;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.custom-list {
  list-style-type: none;
}

.custom-list li:before {
  content: url('{% static "img/pngwing.com (1).png" %}'); /* Use an image as the marker */
  margin-right: 10px; /* Add some spacing between the marker and the text */
}

</style>
<section id="hero_section" class="top_cont_outer">
    <div class="hero_wrapper">
        <div class="container">
            <div class="hero_section">
              <div class="card">
                <div class="info-body">
                  <h5 class="info-title">Forecasting with SARIMA and Kernel-Lasso </h5>
                    <ul class="custom-list">
                      <li>The SARIMA model will generate daily load forecasts until 2028.</li>
                      <li>For each month generated, the Kernel-Lasso regressor will take the last 7 days of load data and use them to predict the load for the first day of the next month.</li>
                      <li>To get a range of possible values, the regressor will be fed both the lower and upper bounds of the 7-day load data.</li>
                    </ul>                    
                  </div>
                </div>
              </div>
                <div class="row" style="margin-bottom: 50px;">
                    <h2>Forecast Data</h2>
                    <div class=" delay-01s animated fadeInDown wow animated">
                      {{data|safe}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}